.__boss_time_tag,
.__zhipin_time_tag,
.__zhilian_time_tag,
.__liepin_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}
/* 
.__zhipin_time_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: #426eff;
    color: white;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
} */

.__job51_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}

.__jobsdb_time_tag {
  position: absolute;
  right: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
  margin-right: 57px;
  margin-top: 10px;
}

/*for jbsdb job item*/
div[data-search-sol-meta] {
  display: flex;
}

/* 与BOSS直聘的筛选器样式 .condition-filter-select .current-select 保持一致*/
.__boss_filter.condition-filter-select .current-select::after {
  content: unset;
}
.__boss_filter.condition-filter-select .current-select {
  padding-right: 12px;
}
.__boss_filter_result-hidden {
  display: none;
}

.__is_outsourcing_or_training {
}

.__rencent_update {
  color: red;
}

.__time_tag_base_text_font {
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.echo-like .echo-like__icon {
}

.echo-like__count {
}

.__company_info_search {
  display: flex;
  padding: 5px;
  font-size: 14px;
  color: #414a60;
  flex-wrap: wrap;
}

.__company_info_quick_search {
  display: flex;
  font-size: 14px;
  color: #414a60;
  padding: 8px;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.__company_info_quick_search_item {
  display: flex;
  padding: 2px;
  align-items: baseline;
  a {
    padding-right: 10px;
    font-size: 14px;
    color: blue;
  }

  a:hover {
    background-color: yellowgreen;
    color: white;
  }
}

.__company_info_quick_search_item > div {
  display: flex;
  align-items: inherit;
  padding-right: 10px;
}

.__company_info_quick_search_item_label {
  font-weight: 600;
  align-self: baseline;
}

.__company_info_quick_search_item_value {
  flex: 1;
}

.__company_info_quick_search_button {
  background-color: mediumblue;
  color: white;
  padding: 1px 8px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}

.__company_info_other_channel {
  justify-content: end;
}

.__BOSS_function_panel {
  padding-left: 10px;
}

.__51JOB_function_panel {
  margin-left: -10px;
  margin-top: 5px;
}

.__ZHILIAN_function_panel {
  margin-left: -10px;
}

.__LAGOU_function_panel {
  padding-left: 17px;
  margin-right: 10px;
}

.__JOBSDB_function_panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.__LIEPIN_function_panel {
}

.__comment_wrapper {
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #414a60;
}

.__BOSS_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 10px;
}

.__51JOB_comment_wrapper {
}

.__ZHILIAN_comment_wrapper {
}

.__LAGOU_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 5px;
}

.__JOBSDB_comment_wrapper {
  padding-right: 25px;
}

.__LIEPIN_comment_wrapper {
  padding-right: 25px;
}

.__logo_in_function_panel {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 20px;
}

.__first_browse_time {
  font-size: 14px;
  color: #414a60;
}

.__LIEPIN_job_item {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.__website_value_success {
  background-color: yellowgreen;
  color: white;
  font-size: 12px;
}

.__website_value_error {
  background-color: red;
  color: white;
  font-size: 12px;
}

.__website_value_loading {
  background-color: black;
  color: white;
  font-size: 12px;
}
