.__boss_time_tag,
.__zhipin_time_tag,
.__zhilian_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}
/* 
.__zhipin_time_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: #426eff;
    color: white;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
} */

.__job51_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}

.__jobsdb_time_tag {
  position: absolute;
  right: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
  margin-right: 57px;
  margin-top: 10px;
}

/*for jbsdb job item*/
div[data-search-sol-meta] {
  display: flex;
}

/* 与BOSS直聘的筛选器样式 .condition-filter-select .current-select 保持一致*/
.__boss_filter.condition-filter-select .current-select::after {
  content: unset;
}
.__boss_filter.condition-filter-select .current-select {
  padding-right: 12px;
}
.__boss_filter_result-hidden {
  display: none;
}

.__is_outsourcing_or_training {
}

.__rencent_update {
  color: red;
}

.__time_tag_base_text_font {
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.echo-like .echo-like__icon {
}

.echo-like__count {
}

.__company_info_search {
  display: flex;
  padding: 10px;
  font-size: 14px;
  color: #414a60;
  a {
    padding-right: 10px;
    font-size: 14px;
    color: #414a60;
  }

  a:hover {
    background-color: yellowgreen;
    color: white;
  }
}

.__BOSS_function_panel {
  padding-left: 10px;
}

.__51JOB_function_panel {
  margin-left: -10px;
  margin-top: 5px;
}

.__ZHILIAN_function_panel {
  margin-left: -10px;
}

.__LAGOU_function_panel {
  padding-left: 17px;
  margin-right: 10px; 
}

.__JOBSDB_function_panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.__comment_wrapper {
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #414a60;
}

.__BOSS_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 10px;
} 

.__51JOB_comment_wrapper {

}

.__ZHILIAN_comment_wrapper {

}

.__LAGOU_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 5px;
}

.__JOBSDB_comment_wrapper {
  padding-right: 25px;
}

.__logo_in_function_panel{
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 20px;
}

.__first_browse_time{
  font-size: 14px;
  color: #414a60;
}

