.tagify {
  --readonly-striped: 0;
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select),
.tagify[readonly]:not(.tagify--mix):not(.tagify--select) {
  border: none;
  align-items: stretch;
}

.tagify[disabled]:not(.tagify--mix):not(.tagify--select)>.tagify__input,
.tagify[readonly]:not(.tagify--mix):not(.tagify--select)>.tagify__input {
  min-width: 0px;
}

.__company_tag {
  flex: 1;

  .tagify {
    flex: 1;
  }
}

.tags-look .tagify__dropdown__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
  border-color: black;
}

.tags-look .tagify__dropdown__item:hover {
  background: lightyellow;
  border-color: gold;
}

.tags-look .tagify__dropdown__item--hidden {
  max-width: 0;
  max-height: initial;
  padding: .3em 0;
  margin: .2em 0;
  white-space: nowrap;
  text-indent: -20px;
  border: 0;
}

.__boss_time_tag,
.__zhipin_time_tag,
.__zhilian_time_tag,
.__liepin_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}

/* 
.__zhipin_time_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: #426eff;
    color: white;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
} */

.__job51_time_tag {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
}

.__jobsdb_time_tag {
  position: absolute;
  right: 0;
  background: rgba(229, 248, 248);
  color: #00a6a7;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 0 0 0 4px;
  text-align: right;
  margin-right: 57px;
  margin-top: 10px;
}

/*for jbsdb job item*/
div[data-search-sol-meta] {
  display: flex;
}

/* 与BOSS直聘的筛选器样式 .condition-filter-select .current-select 保持一致*/
.__boss_filter.condition-filter-select .current-select::after {
  content: unset;
}

.__boss_filter.condition-filter-select .current-select {
  padding-right: 12px;
}

.__boss_filter_result-hidden {
  display: none;
}

.__is_outsourcing_or_training {}

.__rencent_update {
  color: red;
}

.__time_tag_base_text_font {
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.echo-like .echo-like__icon {}

.echo-like__count {}

.__company_info_search {
  display: flex;
  padding: 5px;
  font-size: 14px;
  color: #414a60;
  flex-wrap: wrap;
}

.__company_info_quick_search {
  display: flex;
  font-size: 14px;
  color: #414a60;
  padding: 8px;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

.__company_info_quick_search_item {
  display: flex;
  padding: 5px;
  padding-bottom: 0px;
  align-items: baseline;

  a {
    padding-right: 10px;
    font-size: 14px;
    color: blue;
  }

  a:hover {
    background-color: yellowgreen;
    color: white;
  }
}

.__company_info_quick_search_sub_item{
  display:flex;
}

.__company_info_quick_search_item>div {
  display: flex;
  align-items: inherit;
  margin-right: 8px;
  text-wrap: nowrap;
}

.__company_info_quick_search_item_label {
  font-weight: 600;
  align-self: baseline;
}

.__company_info_quick_search_item_value {
  flex: 1;
}

.__company_info_quick_search_button {
  background-color: mediumblue;
  color: white;
  padding-left:8px;
  padding-right:8px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  text-wrap: nowrap;
}

.__company_info_other_channel {
  justify-content: end;
}

.__company_reputation_content{
  display: flex;
  flex-wrap: wrap;

  div{
    padding:2px;
  }
}

.__BOSS_function_panel {
  padding-left: 10px;
  margin-right: 5px;
}

.__51JOB_function_panel {
  margin-left: -10px;
  margin-top: 5px;
  margin-right: 12px;
}

.__ZHILIAN_function_panel {
  margin-left: -10px;
}

.__LAGOU_function_panel {
  padding-left: 17px;
  margin-right: 10px;
}

.__JOBSDB_function_panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.__LIEPIN_function_panel {}

.__AIQICHA_function_panel {
  position: relative;
  clear: both;
  margin: 20px
}

.__comment_wrapper {
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #414a60;
  padding-top: 5px;
}

.__BOSS_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 10px;
}

.__51JOB_comment_wrapper {}

.__ZHILIAN_comment_wrapper {}

.__LAGOU_comment_wrapper {
  padding-right: 10px;
  padding-bottom: 5px;
}

.__JOBSDB_comment_wrapper {
  padding-right: 25px;
}

.__LIEPIN_comment_wrapper {
  padding-right: 25px;
}

.__logo_in_function_panel {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 20px;
}

.__first_browse_time {
  font-size: 14px;
  color: #414a60;
}

.__LIEPIN_job_item {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.__website_value_success {
  background-color: yellowgreen;
  color: white;
  font-size: 12px;
}

.__website_value_error {
  background-color: red;
  color: white;
  font-size: 12px;
}

.__website_value_loading {
  background-color: black;
  color: white;
  font-size: 12px;
}

.__51JOB_job_item {
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
}

.__comment_dialog {
  position: absolute;
  background-color: white;
  z-index: 9999;
  color: black;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.__comment_loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  flex-direction: column;

  div{
    color: white;
  }
}

.__dialog_normal {
  width: 400px;
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.__dialog_maximize {
  width: 800px;
  height: 800px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.__comment_dialog_title {
  font-size: 15px;
  text-align: left;
  padding: 5px;
}

.__comment_content {
  flex: 1;
  position: relative;
}

.__comment_menu {
  display: flex;
  justify-content: end;
}

.__comment_menu_button {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.__comment_button {
  cursor: pointer;
  margin-left: 5px;
  text-decoration: underline;
  color: blue;
  padding-right:5px;
}

.__comment_empty_content {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.__comment_row {
  display: flex;
  margin: 10px;
  flex-direction: row;

  .__right {
    flex: 1;

    .__header {
      display: flex;
      flex-direction: row;
      border: 0.5px solid black;
      border-radius: 5px 5px 0 0;
    }

    .__time {
      padding: 5px;
      padding-left: 10px;
    }

    .__username {
      padding: 5px;
      flex: 1;
    }

    .__source {
      padding: 5px;
    }

    .__content {
      padding: 10px;
      border: 0.5px solid black;
      border-top: 0;
      border-radius: 0 0 5px 5px;
    }
  }
}

.__comment_submit_button_wrapper {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.__comment_submit_button {
  background-color: rgb(205, 198, 0);
  color: white;
  padding: 1px 8px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  text-wrap: nowrap;
}

.__comment_submit_content {
  display: flex;
  margin: 10px;
  flex-direction: row;

  .__comment_submit_content_wrapper {
    flex: 1;
  }

  .__comment_title_wrapper {
    display: flex;
    flex-direction: row;
    border: 0.5px solid black;
    border-radius: 5px 5px 0 0;

    .__comment_title {
      padding: 5px;
      padding-left: 10px;
    }
  }

  .__comment_content_wrapper {

    padding: 10px;
    border: 0.5px solid black;
    border-top: 0;
    border-radius: 0 0 5px 5px;

    .__comment_content_wrapper_content {
      width: 100%;
      height: 100px;
    }
  }
}

.__comment_paging_wrapper {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: end;

  .__comment_paging_total {
    padding: 5px;
    align-content: center;
  }

  .__comment_paging_button {
    padding: 5px;
  }
}

.__avatar {
  border-radius: 20px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}